---
import '/src/styles/layouts/home/services.scss';
import { Image } from 'astro:assets';
import img1 from '/src/assets/floor-varnishing-sealing-service.png';
import img2 from '/src/assets/stair-sanding-service.png';
import img3 from '/src/assets/floor-restoration-service.png';
import img4 from '/src/assets/commercial-floor-service.png';
---

<section class="home-services-section flex flex-center height-md">
    <div class="sc flex flex-col gap-250 flex-center">
        <div class="services-wrapper carousel-wrapper pos-relative flex flex-center flex-col gap-150 width-fill" data-carousel-position="1">
            <div class="carousel-btn icon-container left pos-absolute">
                <svg xmlns="http://www.w3.org/2000/svg" class="text-secondary" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 0 1 1.414 0L10 10.586l3.293-3.293a1 1 0 1 1 1.414 1.414l-4 4a1 1 0 0 1-1.414 0l-4-4a1 1 0 0 1 0-1.414" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Chevron Icon</span>
            </div>
            <div class="carousel pos-relative o-hidden br-100">
                <div class="carousel-inner flex flex-row pos-absolute">
                    <div class="carousel-item card img-container br-100 o-hidden pos-relative">
                        <Image src={img1} alt="Floor Varnishing and Sealing Service"></Image>
                        <div class="overlay pos-absolute"></div>
                        <h2 class="text text-sm text-white pos-absolute">
                            Floor Varnishing &amp; Sealing
                        </h2>
                    </div>
                    <div class="carousel-item card img-container br-100 o-hidden pos-relative">
                        <Image src={img2} alt="Stripping and Sanding Stairs Service"></Image>
                        <div class="overlay pos-absolute"></div>
                        <h2 class="text text-sm text-white pos-absolute">
                            Stripping &amp; Sanding Stairs
                        </h2>
                    </div>
                    <div class="carousel-item card img-container br-100 o-hidden pos-relative">
                        <Image src={img3} alt="Floor Restorations Service"></Image>
                        <div class="overlay pos-absolute"></div>
                        <h2 class="text text-sm text-white pos-absolute">
                            Wood Floor Restorations
                        </h2>
                    </div>
                    <div class="carousel-item card img-container br-100 o-hidden pos-relative">
                        <Image src={img4} alt="Commercial Floor Service"></Image>
                        <div class="overlay pos-absolute"></div>
                        <h2 class="text text-sm text-white pos-absolute">
                            Commercial Floor Restorations
                        </h2>
                    </div>
                </div>
            </div>
            <div class="carousel-btn icon-container right pos-absolute">
                <svg xmlns="http://www.w3.org/2000/svg" class="text-secondary" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 0 1 1.414 0L10 10.586l3.293-3.293a1 1 0 1 1 1.414 1.414l-4 4a1 1 0 0 1-1.414 0l-4-4a1 1 0 0 1 0-1.414" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Chevron Icon</span>
            </div>
        </div>
        <a href="/services" class="btn btn-sm btn-tertiary btn-outline text-sm text-tertiary">View All Our Services</a>
    </div>
</section>

<script>
    window.addEventListener("DOMContentLoaded", () => {
        let lastPosition: number;
        let carouselInnerGap;

        let carouselWrapper = document.querySelector(".services-wrapper");
        if (carouselWrapper instanceof HTMLElement) {
            let leftBtn = carouselWrapper.querySelector(".carousel-btn.left");
            let rightBtn = carouselWrapper.querySelector(".carousel-btn.right");
            let carouselInner = carouselWrapper.querySelector(".carousel-inner");

            if (carouselInner instanceof HTMLElement) {
                let carouselItems = carouselWrapper.querySelectorAll(".carousel-item");
                let firstCarouselItem = carouselItems[0];
                let computedStyleOfCI = window.getComputedStyle(firstCarouselItem);
                let widthOfCI = computedStyleOfCI.width;
                let widthStr = widthOfCI.split("px")[0];
                let widthNum = Number(widthStr);

                let amountOfItems = carouselItems.length;

                if (window.matchMedia(`(max-width: 480px)`).matches) {
                    lastPosition = amountOfItems;
                    carouselInnerGap = 0;
                } else {
                    lastPosition = amountOfItems - 2;
                    carouselInnerGap = 40;
                }

                let totalTranslateX = widthNum + carouselInnerGap;

                if (rightBtn instanceof HTMLElement && leftBtn instanceof HTMLElement) {
                    leftBtn.addEventListener("click", () => {
                        let newPosition = findNewPosition(carouselWrapper, lastPosition, "left");
                        moveCarouseltoPosition(carouselWrapper, carouselInner, totalTranslateX, newPosition);
                        carouselWrapper.classList.add("autoScrollDisabled");
                    });

                    rightBtn.addEventListener("click", () => {
                        let newPosition = findNewPosition(carouselWrapper, lastPosition, "right");
                        moveCarouseltoPosition(carouselWrapper, carouselInner, totalTranslateX, newPosition);
                        carouselWrapper.classList.add("autoScrollDisabled");
                    });
                }

                window.setInterval(() => {
                    if (!(carouselWrapper.classList.contains("autoScrollDisabled"))) {
                        let newPosition = findNewPosition(carouselWrapper, lastPosition, "right");
                        moveCarouseltoPosition(carouselWrapper, carouselInner, totalTranslateX, newPosition);
                    }
                }, 4000);
            }
        }

        let findNewPosition = (carouselWrapper: HTMLElement, lastPosition: number, directionOrNewPosition: number | string) => {
            let position = carouselWrapper.getAttribute("data-carousel-position");
            let positionNum = Number(position);
            let newPosition;

            if (directionOrNewPosition == "left") {
                if (positionNum <= 1) {
                    newPosition = lastPosition;
                } else {
                    newPosition = positionNum - 1;
                }
            } else if (directionOrNewPosition == "right") {
                if (positionNum >= lastPosition) {
                    newPosition = 1;
                } else {
                    newPosition = positionNum + 1;
                }
            } else {
                newPosition = Number(directionOrNewPosition);
            }
            
            return newPosition;
        }

        let moveCarouseltoPosition = (carouselWrapper: HTMLElement, carouselInner: HTMLElement, totalTranslateX: number, newPosition: number) => {
            let newTranslateXNumber = totalTranslateX * (newPosition - 1) * -1;

            carouselInner.style.transform = `translate(${newTranslateXNumber}px, 0px)`;

            let newPositonStr = String(newPosition);
            carouselWrapper.setAttribute("data-carousel-position", newPositonStr);
        }
    });

</script>